[package]
name = "profiler"
version = "0.6.1"
edition = "2021"

[dependencies]
clap = { version = "4.1.11", features = ["derive"] }
env_logger = "0.10.0"
eyre = "0.6.8"
hex = "0.4.3"
libc = "0.2.146"
post-rs = { path = "../" }
rand = "0.8.5"
rayon = "1.7.0"
serde = { version = "1.0.158", features = ["derive"] }
serde_json = "1.0.94"

windows = { version = "0.48", features = [
    "Win32_Foundation",
    "Win32_Storage_FileSystem",
    "Win32_Security",
] }
