[package]
name = "service"
version = "0.7.2"
edition = "2021"

[lib]
name = "post_service"
path = "src/lib.rs"

[dependencies]
post-rs = { path = "../" }
prost = "0.12.1"
tonic = { version = "0.11.0", features = ["tls"] }
tokio = { version = "1.0", features = [
    "rt-multi-thread",
    "macros",
    "sync",
    "time",
] }
tokio-stream = { version = "0.1", features = ["net"] }
log = "0.4.20"
eyre = "0.6.12"
env_logger = "0.10.0"
clap = { version = "4.4.4", features = ["derive"] }
hex = "0.4.3"
mockall = "0.12.1"
sysinfo = "0.29.10"
axum = "0.7.4"
serde = { version = "1.0.197", features = ["derive"] }
range-set = "0.0.11"
serde_with = { version = "3.6.1", features = ["hex"] }
serde_json = "1.0.114"

[build-dependencies]
tonic-build = "0.11.0"

[dev-dependencies]
async-stream = "0.3.5"
rcgen = "0.11.3"
reqwest = { version = "0.11.24", features = ["json"] }
rstest = "0.18.2"
tempfile = "3.8.0"
