on:
  merge_group:
  pull_request:
  push:
    branches:
      - main

name: CI

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - uses: actions-rs/cargo@v1
        with:
          command: check

  test:
    name: Test Suite
    needs:
      - check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - uses: actions-rs/cargo@v1
        with:
          command: test
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt
      - uses: Swatinem/rust-cache@v2
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: clippy
          override: true
      - uses: Swatinem/rust-cache@v2
      - name: Annotate commit with clippy warnings
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features

  build:
    name: Build library
    runs-on: ${{ matrix.os }}
    # needs:
    #   - test
    #   - fmt
    #   - clippy

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
            dylib: libpost.so
            staticlib: libpost.a

          - os: ubuntu-22.04
            dylib: libpost.so
            staticlib: libpost.a

          # - os: [self-hosted, linux, arm64]
          #   dylib: libpost.so
          #   staticlib: libpost.a
          #   rustflags: --cfg=aes_armv8
          #   artifact-name: linux-arm64

          - os: [self-hosted, macos, arm64]
            dylib: libpost.dylib
            staticlib: libpost.a
            rustflags: --cfg=aes_armv8
            artifact-name: macos-m1

          - os: macos-latest
            dylib: libpost.dylib
            staticlib: libpost.a

          - os: windows-latest
            dylib: post.dll
            staticlib: post.lib
    steps:
      - uses: actions/checkout@v2

      # INSTALL CLANG:
      - name: Install LLVM and Clang # required for bindgen to work, see https://github.com/rust-lang/rust-bindgen/issues/1797
        uses: KyleMayes/install-llvm-action@v1
        if: matrix.config.os == 'windows-latest'
        with:
          version: "11.0"
          directory: ${{ runner.temp }}/llvm
      - name: Set LIBCLANG_PATH
        run: echo "LIBCLANG_PATH=$((gcm clang).source -replace "clang.exe")" >> $env:GITHUB_ENV
        if: matrix.config.os == 'windows-latest'

      - if: contains(matrix.os, 'mac')
        run: brew install llvm

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly

      - uses: Swatinem/rust-cache@v2
      - run: cd ffi && cargo build --profile release-clib
        env:
          RUSTFLAGS: ${{ matrix.rustflags }}
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: libpost-${{ matrix.artifact-name || matrix.os }}
          path: |
            ffi/prover.h
            target/release-clib/${{ matrix.dylib }}
            target/release-clib/${{ matrix.staticlib }}
